<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TgBot"
             type="PostgreSQL_TelegramBot.Config.BotDataBaseConfig, PostgreSQL TelegramBot"/>
  </configSections>
	<appSettings>
		<add key="BotToken" value="6981251078:AAE4vZ_vzeX-YOVdmGDQF8wEzhVv23obFE8"/>
		<add key="MongoDb" value="mongodb://localhost:27017"/>
	</appSettings>
  <TgBot>
		<databases>
			<add
				name="Db"
				owner="Likromax"
				sshEnabled="0"
				sshUser="user"
				sshPassword="password"
				binDir="dir"
				backupDir="dir"
			/>
		</databases>
  </TgBot>
	<connectionStrings>
		<add name="Db" connectionString="Host=localhost;Username=postgres;Password=1234;Database=postgres;Timeout=5;Pooling=true;" />
	</connectionStrings>
</configuration>